.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px !important;
  height: auto !important;
  font-family: Hind, sans-serif !important;
  vertical-align: baseline;
  border: 0px #123ac8;
}

.favorito {
  margin-top: 5px;
}
.card-title {
  margin-top: 10px;

  font-family: "Montserrat";
  font-style: normal;
}

.casa {
  height: 70%;
  width: 92%;
  margin-left: 107px;
  margin-right: 35px;
}

.card {
  margin-top: 39px;
  margin-left: 107px;
}
